{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            {% for top_anime in trend_anime_data %}
            <div class="hero__items set-bg" data-setbg="{{ top_anime.attributes.coverImage.original }}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>{{ top_anime.attributes.titles.en_jp }}</h2>
                            <p>{{ top_anime.attributes.synopsis|truncatewords:20 }}</p>
                            <a href="/anime/{{top_anime.id}}"><span>Watch Now</span> <i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No top anime data available.</p>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Trending Now</h4>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        {% if airing_now_data %}
                        <div class="row">
                            {% for trending_anime in airing_now_data %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"
                                        data-setbg="{{ trending_anime.attributes.posterImage.original }}">
                                        <div class="ep">
                                            {% if trending_anime.attributes %}
                                            {{ trending_anime.attributes.episodeCount }} / {{trending_anime.attributes.episodeLength }}
                                            {% else %}
                                            N/A
                                            {% endif %}
                                        </div>
                                        <div class="comment"><i class="fa fa-comments"></i>{{trending_anime.attributes.favoritesCount|default:0 }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{trending_anime.attributes.userCount|default:0}}</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>{{ trending_anime.attributes.status }}</li>
                                            <li>{{ trending_anime.attributes.subtype }}</li>
                                        </ul>
                                        <h5><a href="/anime/{{trending_anime.id}}">{{ trending_anime.attributes.titles.en_jp }}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <p>No trending anime available at the moment.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="popular__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Popular Shows</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    {% if top_anime_data %}
                    <div class="row">
                        {% for trending_anime in top_anime_data %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                    data-setbg="{{ trending_anime.attributes.posterImage.original }}">
                                    <div class="ep">
                                        {% if trending_anime.attributes %}
                                        {{ trending_anime.attributes.episodeCount }} / {{trending_anime.attributes.episodeLength }}
                                        {% else %}
                                        N/A
                                        {% endif %}
                                    </div>
                                    <div class="comment"><i class="fa fa-comments"></i>{{trending_anime.attributes.favoritesCount|default:0 }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{trending_anime.attributes.userCount|default:0}}</div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>{{ trending_anime.attributes.status }}</li>
                                        <li>{{ trending_anime.attributes.subtype }}</li>
                                    </ul>
                                    <h5><a href="/anime/{{trending_anime.id}}">{{ trending_anime.attributes.titles.en_jp}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No trending anime available at the moment.</p>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Top Views</h5>
                        </div>
                        <div class="filter__gallery">
                            <!-- Filtered by Day -->
                            <div id="day" class="filter__list">
                                {% for anime in views_anime_data %}
                                    <div class="product__sidebar__view__item set-bg mix day" data-setbg="{{ anime.attributes.posterImage.medium }}">
                                        <div class="ep">
                                        {{ anime.attributes.episodeCount }} / {{anime.attributes.episodeLength }}
                                        </div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ anime.attributes.userCount }}</div>
                                        <h5><a href="{{ anime.attributes.slug }}">{{ anime.attributes.canonicalTitle }}</a></h5>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="product__sidebar__comment">
                                <div class="section-title">
                                    <h5>New Comment</h5>
                                </div>
                                <div class="product__sidebar__comment__item">
                                    <div class="product__sidebar__comment__item__pic">
                                        <img src="{% static 'anime/img/sidebar/comment-1.jpg' %}" alt="">
                                    </div>
                                    <div class="product__sidebar__comment__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                                        <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                                    </div>
                                </div>
                                <div class="product__sidebar__comment__item">
                                    <div class="product__sidebar__comment__item__pic">
                                        <img src="{% static 'anime/img/sidebar/comment-2.jpg' %}" alt="">
                                    </div>
                                    <div class="product__sidebar__comment__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="#">Shirogane Tamashii hen Kouhan sen</a></h5>
                                        <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                                    </div>
                                </div>
                                <div class="product__sidebar__comment__item">
                                    <div class="product__sidebar__comment__item__pic">
                                        <img src="{% static 'anime/img/sidebar/comment-3.jpg' %}" alt="">
                                    </div>
                                    <div class="product__sidebar__comment__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="#">Kizumonogatari III: Reiket su-hen</a></h5>
                                        <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                                    </div>
                                </div>
                                <div class="product__sidebar__comment__item">
                                    <div class="product__sidebar__comment__item__pic">
                                        <img src="{% static 'anime/img/sidebar/comment-4.jpg' %}" alt="">
                                    </div>
                                    <div class="product__sidebar__comment__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="#">Monogatari Series: Second Season</a></h5>
                                        <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
                                    </div>
                                </div>
                            </div>
                    
                            <!-- Filtered by Week -->
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock %}