{% extends 'main.html' %}
{% load static %}
{% block content %}
<style>
    .product__item__pics {
        height: 325px;
        position: relative;
        border-radius: 5px;
    }

    .product__item__pics img {
        display: block;
        width: 100%;
        /* Pastikan gambar menyesuaikan lebar kontainer */
        height: auto;
        /* Menjaga proporsi gambar */
        object-fit: cover;
        /* Mirip dengan background-size: cover */
        border-radius: 8px;
        height: 300px;
        /* Opsional: tambahkan radius jika dibutuhkan */
    }


    .product__item__pics .ec {
        font-size: 13px;
        color: #ffffff;
        background: #30acce;
        display: inline-block;
        padding: 2px 12px;
        border-radius: 4px;
        position: absolute;
        left: 10px;
        top: 10px;
    }

    .set-bgs {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }
</style>
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="trending__product">
                    {% if recentanime %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="section-title">
                                <h4>Recent Release</h4>
                            </div>
                        </div>
                        <div class="row">
                            {% for recentanime in recentanime %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pics set-bg">
                                        <img src="{{ recentanime.thumbnail }}" class="img-fluid">
                                        <div class="ec">
                                            {{ recentanime.upload_time }}
                                        </div>
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a
                                                href="/anime/watch/2025/01/{{recentanime.param}}/">{{recentanime.title}}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% if search_results %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="section-title">
                                <h4>Results for "{{ query }}"</h4>
                            </div>
                        </div>
                        <div class="row">
                            {% for recentanime in search_results %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pics set-bg">
                                        <img src="{{ recentanime.thumbnail }}" class="img-fluid">
                                        <div class="ec">
                                            {{ recentanime.upload_time }}
                                        </div>
                                    </div>
                                    <div class="product__item__text">
                                        <h5><a
                                                href="/anime/watch/2025/01/{{recentanime.param}}/">{{recentanime.title}}</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {% elif query %}
                        <p>No results found for "{{ query }}"</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

{% endblock %}